@model IEnumerable<ModelEF.ModelDb.KhachHang>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-user"></i>&nbsp;Quản Lý Khách Hàng
}
@using (Html.BeginForm("Index", "Customer", FormMethod.Post))
{<div class="col-lg-12 form-group">

        <div class="col-md-6">
            @Html.ActionLink("Tạo mới", "Create", "Customer", new { @class = "btn btn-danger" })
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" class="form-control" placeholder="Nhập tìm kiếm" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-info" />
        </div>

    </div>
}
<div class="col-lg-12 form-group">
    <table id="tb">
        <tr>
            <th>
                Mã khách hàng
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Loại khách hàng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaKH
                </td>
                <td>
                    @item.TenKH
                </td>
                <td>
                    @item.DiaChi
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.SoDienThoai
                </td>
                <td>
                    @item.GioiTinh
                </td>
                <td>
                    @item.MatKhau
                </td>
                <td>
                    @item.MaLKH
                </td>
                <td>
                    <a href="~/Admin/Customer/Update/@item.MaKH"><i class="fa fa-refresh"></i></a>
                    &nbsp;
                    @Ajax.ActionLink(" ", "Delete", new { @username = item.MaKH }, new AjaxOptions
               {
                   Confirm = "Bạn có muốn xóa bản ghi này?",
                   OnComplete = "$('#row_" + item.MaKH + "').remove()",
                   HttpMethod = "Delete"
               }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }

    </table>
    <i class="btn-danger">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
    </i>
</div>
@section jsFooter{
    <script src="~/Assets/admin/js/active_controller/active.js"></script>
}
