@model ModelEF.ModelDb.ODo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ODo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiODo.TenloaiO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiODo.TenloaiO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdODo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdODo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViTriODo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTriODo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaODo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
