@model ModelEF.ModelDb.ChiTietXe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietXe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangXe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangXe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BienSoXe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
